*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}
body {
  height: 100%;
  overflow: hidden;
  font-family: helvetica, arial, sans-serif;
  background-color: black;
}

.scroll, .scroll-y, .scroll-x {
  -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
  -webkit-transform : translateZ(0);
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

header {
  left: 2em;
  color: white;
}
header,footer {
  position: fixed;
  z-index: 3;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

.glitch {
  position: fixed;
  bottom: 1em;
  left: 1em;
}
.glitch img{height: 1.4em}
.full-window {
  position: fixed;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.unselectable {
  user-select: none;
  -webkit-user-select: none;
}

canvas#arms {
  z-index: 1
}
canvas#curve {
  z-index: 2
}